BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: false
BreakBeforeBraces: Allman
AccessModifierOffset: 0
IndentAccessModifiers: true
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2
AlignConsecutiveAssignments:
  Enabled: true